body {
    background: #141414;
    color: #ffffff;
  }

.logo{
  text-align: center;
}

.movie-app > .row {
  /* overflow-x: auto;
  flex-wrap: nowrap; */
  
}

.kiri{
  /* background: blue; */
}

.favorit{
  /* background: white; */
}


.image-container{
  position: relative;
  transition: transform 0.2s;
  left: 0;
  
}

.image-container .image{
  width: 250px;
  height: 325px;
}

.image-container .favorit{
  width: 125px;
  height: 150px;
}



.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay{
opacity: 1;
}


.overlay{
  position: absolute;
  background: rgb(0,0,0,0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.detail {
	position: fixed;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	background-color: #445565;

	/* overflow-y: scroll; */
}
